body {
    padding: 0px;
    margin: 0;
    font-size: 18px;
    text-rendering: optimizeSpeed;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    
  }
  
  .App {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    padding-top: 150px;
  }
  
  h1 {
    font-weight: 100;
    color: black;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center
  }
  
  .input-wrapper {
    margin: 3.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .todos-wrapper {
    margin-bottom: 2.5rem;
  }
  
  .todo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  input {
    width: 350px;
    padding: 0.8em;
  }
  
  input:focus {
    outline: none;
  }
  
  button {
    width: 100px;
    padding: 0.8em;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  input,
  button {
    font-size: 1em;
    appearance: none;
    color:black;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .button1 {
    color: black;
    margin: 5px;
    
  }
  
  .button1:hover {
    background-color: black;
    -webkit-transition: background-color 15s ease-out;
    -moz-transition: background-color 15s ease-out;
    -o-transition: background-color 15s ease-out;
    transition: background-color 15s ease-out;  
  }
  
  .button2 {
    color: black;
    margin: 5px;
  }
  
  .button2:hover{
    background-color: black;
    -webkit-transition: background-color 15s ease-out;
    -moz-transition: background-color 15s ease-out;
    -o-transition: background-color 15s ease-out;
    transition: background-color 15s ease-out;  
  }
  ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
  }
  
  li {
    width: 350px;
    padding: 0.85em;
    text-align: left;
    margin-bottom: 0.5rem;
    background: transparent;
    letter-spacing: 0.02rem;
    transition: all 0.3s ease-out;
    color:black;
    border-radius: 10px;
    border: 1px solid black;
    
  }
  
  li:last-child {
    margin-bottom: 0px;
  }
  
  .blank {
    font-size: 20px;
    font-weight: 400;
    color: black;
    letter-spacing: 0.2rem;
  }